body{
    display: flex;
    justify-content: center;
    align-items: center;  
      flex-direction: column;
      background-color: black;

}
.container{
    margin-top: 20vh;
    padding: 10vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(119, 119, 119);
    box-shadow: black 10px;

}

.inputat{
    display: flex;
    flex-direction: column;
    padding: 10%;
}
input{
    margin-block: 10px;
     height: 25px;
    width: 320px;
    border-radius: 10px;
}

button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background:darkorange;
}

.userInfo{
    border: 1px solid black;
}